*{ margin: 0; padding: 0; font-family: verdana; font-size: .9rem; }

body{ 
    min-height: 100dvh;
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
}

main{ 
    width: 600px;
    height: auto;
    border: 1px solid #1c1c1c;
}

form{
    max-width: 100%;
    height: auto;
}

.field{ margin: 10px; }

.field .field-row{ max-width: 100%; display: flex; }

/* fieldset - 01 | linha - 01 */
#row01-col01{ margin: 8px; width: 80%; display: flex; flex-direction: column; }
#row01-col02{ margin: 8px; width: 20%; display: flex; flex-direction: column; }
/* fieldset - 01 | linha - 02 */
#row02-col01{ margin: 8px; width: 50%; display: flex; flex-direction: column; }
#row02-col02{ margin: 8px; width: 50%; display: flex; flex-direction: column; }
/* fieldset - 01 | linha - 03 */
#row03-col01{ margin: 8px; width: 30%; display: flex; flex-direction: column; }
#row03-col02{ margin: 8px; width: 70%; display: flex; flex-direction: column; }

#field-col{ width: 100%; display: flex; justify-content: space-between; }

.col{ 
    max-width: 33.3%; 
    margin: 8px;
    display: flex;
    flex-direction: column;
}

#btn_submit{ width: 50%; display: flex; justify-content: center; }
#btn_reset{ width: 50%; display: flex; justify-content: center; }

#btn_enviar, #btn_limpar{ width: 90px; height: 30px; margin: 10px 0; color: white; }

#btn_enviar{ background-color: forestgreen; }

#btn_limpar{ background-color: red; }